.section-about__content {
}

.section-about__content h2 {
  margin-bottom: 2.5rem;
  font-size: 3rem;
  letter-spacing: 2;
}
.section-about__content img {
  margin-bottom: 2.5rem;
  width: 200px;
  object-fit: cover;
  height: 200px;
  border-radius: 50%;
  border: 5px solid blue;
  display: block;
}
.section-about__content p {
  margin-bottom: 2rem;
  font-size: 2rem;
}
