.header {
  padding: 2.5rem 2rem;
  background-color: #0000ffda;
}
.header__content {
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav__brand {
  margin-right: auto;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #fff;
}
.main-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 4rem;
}
.main-nav__item {
}
.main-nav__link {
  font-size: 2.7rem;
  color: #ccc;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}
.main-nav__link:hover,
.main-nav__link:active {
  color: #fff;
  transform: scale(120%);
}
