.section-projects__content {
  margin-bottom: 2.5rem;
  font-size: 3rem;
  letter-spacing: 2;
}

.section-projects__content h2 {
}

.projects-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
